# App
NODE_ENV=
PORT=
CLIENT_URL=

# PostgreSQL
DATABASE_URL=postgresql://...

# NextAuth
NEXTAUTH_SECRET=your-secret-here
# NEXTAUTH_URL=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Vercel
VERCEL_TOKEN=